<p>cart works!</p>
<h3>Cart</h3>
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="email" formControlName="email" >
  </div>

  <button class="button" type="submit">Purchase</button>
  
</form>


<div class="cart-item" *ngFor="let item of list">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>


<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
  <label>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
 
</form>
<p>
  Value: {{ profileForm.value | json }}
</p>