<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar navbar-dark bg-dark" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" > Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"  routerLink="/clienteindex">Listado Personas</a>
        <a class="nav-item nav-link" routerLink="/trabajoform/:id">Listado Trabajo</a>
      </div>
    </div>
  </nav>    
  <router-outlet></router-outlet>
</div>
