<p>home works!</p>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Welcome to the international {{ title }}!
    </h1>
    
    <img width="400" alt="Angular Logo" src="assets/1.png">
  </div>
  <h2>Nuestras Redes Solciales: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.upeu.edu.pe/"> UPeU Main Page </a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://patmos.upeu.edu.pe/upeu"> Patmos UPeU </a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://webapp.upeu.edu.pe/academico/login.jsp"> Poetal Academico UPeU </a></h2>
    </li>
  </ul>
  
  <router-outlet></router-outlet>
  